


  
  <div class="container">
    <div class="row">
      <div class="col">
    <form class="form-1" [formGroup]="login">
      <h1>Login</h1>
      <label for="email">Email</label>
      <input type="email" name="email" id="email" required formControlName="email">

         <!-- validation -->
         <small style="margin-left: 30px;" class="text-danger" 
         *ngIf="login.get('email')?.invalid && login.get('email')?.touched">
          enter valid email </small>
     
     
         <label for="password">Password</label>
      <input type="password" name="pwd" id="password" required formControlName="pwd">
       <!-- validation -->
       <small style="margin-left: 30px;" class="text-danger" 
       *ngIf="login.get('pwd')?.invalid && login.get('pwd')?.touched">
        enter valid password</small>

  <div class="link row">
    <div class="col">
      <a href="forgetpassword" id="fp">Forget Password</a>

    </div>
    <div class="col">
      <a href="register" id="rg">signup</a>

    </div>

  </div>
  

      <button (click)="logiPost()" [disabled]="login.invalid">Login</button>
      
</form>
</div>
</div>
</div>


