


<nav class="navbar navbar-expand-lg bg-info">
   <div class="container-fluid">
       <i class="iconfront-drag2">
           <a href="#" class="navbar-brand">
               <h2>Project</h2>
           </a>
       </i>
       <a href="#" class="nav-link active" id="home">Home</a>
       <div class="collapse navbar-collapse" id="navbarNavAltMarkup" class="d-flex flex-row-reverse">
           <div class="navbar-nav">
               <a class="nav-link" class="p-2" id="a1" [routerLink]="['login']">Login</a>
               <a class="nav-link" class="p-2" id="a2"  [routerLink]="['register']">Register</a>
               <a class="nav-link" class="p-2" id="a3" [routerLink]="['unlockAcc']">Unlock Account</a>
               
           </div>
       </div>
   </div>

</nav>


<router-outlet></router-outlet> 




