


<div class="container">
    <form class="form-1" [formGroup]="forget">
      <h1>Forget Password</h1>
      <label for="email">Enter  Email</label>
      <input type="email" name="email" id="email" required formControlName="email" value="email">
      <small style="margin-left: 30px;" class="text-danger" *ngIf="forget.get('email')?.invalid && forget.get('email')?.touched">
        enter valid email
      </small> <span>{{forg}}</span> 

      <button (click)="forgetGet()">submit</button>
      
</form>
</div>


